# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

# Set default charset
[*.{ts,js,json,txt,md}]
charset = utf-8
indent_style = space
insert_final_newline = true

[*.{ts,js,md,json}]
trim_trailing_whitespace = true

[*.{ts,js,md}]
indent_size = 4

[*.{ts,js}]
quote_type = double

[*.{yml,json}]
indent_size = 2
