# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

# Set default charset
[*.{js,json,txt}]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{yml,json}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.js]
trim_trailing_whitespace = true
quote_type = double
indent_style = space
indent_size = 4
